body {
  padding: 2;
  margin: 2;
  background-color: #fffaef;
  text-align: center;
}

h1 {
  color: #4c4c4c;
  font-family: 'Muli', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #4c4c4c;
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin: 0;
  text-align: left;
}


p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin: 10;
  text-align: center;
}

.image-series {
  margin: 50px auto;
  padding: 10px 5px 5px 5px;
  width: 90%;
}

.project-img {
  display: inline-block;
  margin-top: 15px;
}
